.error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
	font-size: 40px;
}

.input {
	width: 80%;
	margin-bottom: 30px;
}

.users {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
