.header {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
}

.header img {
	max-width: 100px;
	border-radius: 5px;
}

.link {
	text-decoration: none;
}

.button {
	height: 50px;
	width: 200px;
	border-radius: 10px;
	background-color: rgb(64, 64, 221);
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
	transition: 100ms;
}

.button:hover {
	background-color: rgb(79, 79, 226);
}

.button:active {
	background-color: rgb(52, 52, 202);
}
